<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span style="width:120px">
      LOGO
      <!-- <img src="assets/images/logo.png" style="width:120px" /> -->
    </span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <h2>Compliance RTB Dashboard</h2>
    <span class="menu-spacer"></span>
    <div>
      <button mat-icon-button>
        <mat-icon aria-label="info icon">info</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon aria-label="call icon">call</mat-icon>
      </button>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
        <mat-icon aria-label="drop down">arrow_drop_down</mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Manage Account</button>
      <button mat-menu-item>Settings</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<div class="submenu">
  <mat-divider></mat-divider>
  <a mat-button [routerLink]="'/accounts'"> Home </a>
  <a mat-button [routerLink]="'/create-account'">Report </a>
  <a mat-button [routerLink]="'/contacts'"> Help </a>
  <mat-divider></mat-divider>
</div>
<main>
  <router-outlet></router-outlet>
</main>
