table {
  width: 100%;
}
.notfication {
  .notification-title {
    width: 100%;
    padding-left: 15px;
  }
  .example-card {
    background-color: yellow;
    text-align: center;
    width: 100%;
    p {
      color: black;
      font-weight: bold;
    }
  }
  .float-left {
    float: left;
    width: 50%;
  }
  .example-card2 {
    width: 50%;
    text-align: right;
  }
}
.select-app {
  text-align: right;
  width: 100%;
  padding-right: 15px;
}
.mat-elevation-z8 {
  margin: 0 15px;
}
